.Rproj.user
.Rhistory
.RData
.Ruserdata
statcast_data24.csv
swing_classification_model.RDS
fangraphs-leaderboards (70).csv
batter_swing_summary.csv
swing_metrics.csv
catboost_info/
swing_class_cat_model.RDS